In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import HTML
from pandas.io.formats.style import Styler

In [2]:
data_6 = pd.read_csv("data/6 mei 2021.csv")
data_5 = pd.read_csv("data/5 mei 2021.csv")
data_6

,No,Kabupaten/Kota,suspek follow up,suspek discarded,suspek total,probable follow up,probable sembuh,probable meninggal,probable total,konfirmasi dirawat,konfirmasi sembuh,konfirmasi meninggal,konfirmasi total,akumulasi
0,1,Kota Makassar,672,3728,4400,0,12,147,159,151,29639,539,30329,34872
1,2,Kabupaten Gowa,46,823,869,0,1,20,21,21,5323,64,5408,6297
2,3,Kabupaten Luwu Timur,2,525,527,0,0,6,6,17,2698,9,2724,3257
3,4,Kabupaten Sinjai,11,289,300,0,0,1,1,7,2668,14,2689,2990
4,5,Kabupaten Maros,15,334,349,0,0,8,8,5,2217,25,2247,2603
5,6,Kabupaten Jeneponto,5,561,566,0,0,2,2,2,1408,11,1421,1989
6,7,Kota Palopo,9,183,192,0,0,1,1,6,1445,21,1472,1665
7,8,Kabupaten Bone,0,340,340,0,0,4,4,5,1296,11,1312,1656
8,9,Kabupaten Luwu Utara,0,318,318,0,0,0,0,1,1300,22,1323,1641
9,10,Kabupaten Pinrang,10,591,601,0,0,5,5,6,926,44,976,1578
10,11,Kota Parepare,27,250,277,0,0,0,0,1,1211,24,1236,1513
11,12,Kabupaten Pangkajene Dan Kepulauan,55,185,240,0,0,2,2,1,1235,30,1266,1507
12,13,Kabupaten Bulukumba,34,403,437,0,2,6,8,1,1002,12,1015,1458
13,14,Kabupaten Takalar,50,108,158,0,0,2,2,6,1227,16,1249,1408
14,15,Kabupaten Soppeng,3,118,121,0,0,1,1,5,1058,17,1080,1202
15,16,Kabupaten Sidenreng Rappang,34,136,170,0,0,4,4,1,942,9,952,1125
16,17,Kabupaten Bantaeng,2,172,174,0,0,0,0,1,879,7,887,1061
17,18,Kabupaten Tana Toraja,4,256,260,0,0,2,2,15,676,2,693,955
18,19,Kabupaten Barru,0,81,81,0,0,1,1,0,859,5,864,946
19,20,Kabupaten Wajo,4,92,96,0,0,3,3,0,798,19,817,916
20,21,Kabupaten Luwu,0,242,242,0,0,0,0,1,610,8,619,861
21,22,Kabupaten Enrekang,34,308,342,0,0,3,3,2,296,12,310,654
22,23,Kabupaten Kepulauan Selayar,2,86,88,0,0,3,3,2,453,9,464,555
23,24,Kabupaten Toraja Utara,1,182,183,0,0,1,1,4,219,5,228,412
24,25,Rekreasi Duta Covid19 SulSel,1,7,8,0,0,0,0,0,0,0,0,8
25,26,Kabupaten/Kota lain,0,0,0,0,0,0,0,0,0,0,0,0
26,27,RS Lain-lain,0,0,0,0,0,0,0,0,0,0,0,0

In [3]:
#data_6_n_5 = data_6.loc[data_6['Kabupaten/Kota'] == 'Kota Makassar'].sum().iloc[2:14] - data_5.loc[data_5['Kabupaten/Kota'] == 'Kota Makassar'].sum().iloc[2:14]
#data_6_n_5

In [4]:
#data_6.loc[data_6['Kabupaten/Kota'] == 'Kota Makassar']

In [5]:
display(data_6.iloc[11:12]) #ubah input datanya sesuai variable diatas
#data_21.loc[data_21['Kabupaten/Kota'] == 'Kabupaten Pangkajene Dan Kepulauan'] #cara lain

,No,Kabupaten/Kota,suspek follow up,suspek discarded,suspek total,probable follow up,probable sembuh,probable meninggal,probable total,konfirmasi dirawat,konfirmasi sembuh,konfirmasi meninggal,konfirmasi total,akumulasi
11,12,Kabupaten Pangkajene Dan Kepulauan,55,185,240,0,0,2,2,1,1235,30,1266,1507

In [6]:
display(data_5.iloc[11:12]) #ubah input datanya sesuai variable diatas

,No,Kabupaten/Kota,suspek follow up,suspek discarded,suspek total,probable follow up,probable sembuh,probable meninggal,probable total,konfirmasi dirawat,konfirmasi sembuh,konfirmasi meninggal,konfirmasi total,akumulasi
11,12,Kabupaten Pangkajene Dan Kepulauan,55,185,240,0,0,2,2,1,1235,30,1266,1507

In [7]:
data_covid_pangkep = data_6.iloc[11:12].sum().iloc[2:14] -  data_5.iloc[11:12].sum().iloc[2:14]
data_covid_pangkep

suspek follow up        0
suspek discarded        0
suspek total            0
probable follow up      0
probable sembuh         0
probable meninggal      0
probable total          0
konfirmasi dirawat      0
konfirmasi sembuh       0
konfirmasi meninggal    0
konfirmasi total        0
akumulasi               0
dtype: object

In [8]:
df_covid_pangkep = data_covid_pangkep.to_frame()

In [9]:
T_data = data_6.iloc[11:12].T
T_data = T_data.drop(axis=0, index=["No","Kabupaten/Kota"])
T_data= T_data.rename(columns = {10:'Jumlah'})
T_data.style.set_caption("Data Pantauan COVID-19 di Kabupaten Pangkajene Dan Kepulauan")

In [10]:
df_covid_pangkep = df_covid_pangkep.rename(columns = {0:'Jumlah penambahan'})
df_covid_pangkep
df_covid_pangkep.style.set_caption("Data Pantauan COVID-19 di Kabupaten Pangkajene Dan Kepulauan")

In [11]:
#data_17.sum()

In [12]:
data_6.sum()

No                                                                    378
Kabupaten/Kota          Kota MakassarKabupaten GowaKabupaten Luwu Timu...
suspek follow up                                                     1021
suspek discarded                                                    10318
suspek total                                                        11339
probable follow up                                                      0
probable sembuh                                                        15
probable meninggal                                                    222
probable total                                                        237
konfirmasi dirawat                                                    261
konfirmasi sembuh                                                   60385
konfirmasi meninggal                                                  935
konfirmasi total                                                    61581
akumulasi                                                           73129
dtype: object

In [13]:
#data_16.sum().iloc[9:13]

In [14]:
#data_24.sum().iloc[9:13]

In [15]:
tambah_kasus_aktif = data_6.sum().iloc[2:14] - data_5.sum().iloc[2:14]
tambah_kasus_aktif

suspek follow up         0
suspek discarded         0
suspek total             0
probable follow up       0
probable sembuh          0
probable meninggal       0
probable total           0
konfirmasi dirawat      -6
konfirmasi sembuh       23
konfirmasi meninggal     0
konfirmasi total        17
akumulasi               17
dtype: object

In [16]:
df_covid_sulsel = tambah_kasus_aktif.to_frame()

In [17]:
df_covid_sulsel = df_covid_sulsel.rename(columns = {0:'Jumlah penambahan'})
df_covid_sulsel
df_covid_sulsel.style.set_caption("Data Pantauan COVID-19 di Provinsi Sulawesi Selatan")