In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import HTML
from pandas.io.formats.style import Styler

In [2]:
data_29 = pd.read_csv("data/29 April 2021.csv")
data_27 = pd.read_csv("data/27 April 2021.csv")
data_29

,No,Kabupaten/Kota,suspek follow up,suspek discarded,suspek total,probable follow up,probable sembuh,probable meninggal,probable total,konfirmasi dirawat,konfirmasi sembuh,konfirmasi meninggal,konfirmasi total,akumulasi
0,1,Kota Makassar,672,3728,4400,0,12,147,159,171,29564,537,30272,34815
1,2,Kabupaten Gowa,46,823,869,0,1,20,21,17,5317,64,5398,6287
2,3,Kabupaten Luwu Timur,2,525,527,0,0,6,6,22,2693,9,2724,3257
3,4,Kabupaten Sinjai,11,289,300,0,0,1,1,9,2655,14,2678,2979
4,5,Kabupaten Maros,15,334,349,0,0,8,8,1,2217,25,2243,2599
5,6,Kabupaten Jeneponto,5,561,566,0,0,2,2,5,1403,11,1419,1987
6,7,Kota Palopo,9,183,192,0,0,1,1,7,1441,21,1469,1662
7,8,Kabupaten Bone,0,340,340,0,0,4,4,5,1296,11,1312,1656
8,9,Kabupaten Luwu Utara,0,318,318,0,0,0,0,3,1298,22,1323,1641
9,10,Kabupaten Pinrang,10,591,601,0,0,5,5,10,919,44,973,1575
10,11,Kota Parepare,27,250,277,0,0,0,0,0,1211,24,1235,1512
11,12,Kabupaten Pangkajene Dan Kepulauan,55,185,240,0,0,2,2,0,1235,30,1265,1506
12,13,Kabupaten Bulukumba,34,403,437,0,2,6,8,8,993,12,1013,1456
13,14,Kabupaten Takalar,50,108,158,0,0,2,2,4,1225,16,1245,1404
14,15,Kabupaten Soppeng,3,118,121,0,0,1,1,0,1057,17,1074,1196
15,16,Kabupaten Sidenreng Rappang,34,136,170,0,0,4,4,0,942,9,951,1124
16,17,Kabupaten Bantaeng,2,172,174,0,0,0,0,1,879,7,887,1061
17,18,Kabupaten Tana Toraja,4,256,260,0,0,2,2,11,675,2,688,950
18,19,Kabupaten Barru,0,81,81,0,0,1,1,0,859,5,864,946
19,20,Kabupaten Wajo,4,92,96,0,0,3,3,2,796,18,816,915
20,21,Kabupaten Luwu,0,242,242,0,0,0,0,0,610,8,618,860
21,22,Kabupaten Enrekang,34,308,342,0,0,3,3,0,296,12,308,652
22,23,Kabupaten Kepulauan Selayar,2,86,88,0,0,3,3,2,452,9,463,554
23,24,Kabupaten Toraja Utara,1,182,183,0,0,1,1,2,219,5,226,410
24,25,Rekreasi Duta Covid19 SulSel,1,7,8,0,0,0,0,0,0,0,0,8
25,26,RS Lain-lain,0,0,0,0,0,0,0,0,0,0,0,0
26,27,Kabupaten/Kota lain,0,0,0,0,0,0,0,0,0,0,0,0

In [3]:
#data_6_n_5 = data_6.loc[data_6['Kabupaten/Kota'] == 'Kota Makassar'].sum().iloc[2:14] - data_5.loc[data_5['Kabupaten/Kota'] == 'Kota Makassar'].sum().iloc[2:14]
#data_6_n_5

In [4]:
#data_6.loc[data_6['Kabupaten/Kota'] == 'Kota Makassar']

In [5]:
display(data_29.iloc[11:12]) #ubah input datanya sesuai variable diatas
#data_21.loc[data_21['Kabupaten/Kota'] == 'Kabupaten Pangkajene Dan Kepulauan'] #cara lain

,No,Kabupaten/Kota,suspek follow up,suspek discarded,suspek total,probable follow up,probable sembuh,probable meninggal,probable total,konfirmasi dirawat,konfirmasi sembuh,konfirmasi meninggal,konfirmasi total,akumulasi
11,12,Kabupaten Pangkajene Dan Kepulauan,55,185,240,0,0,2,2,0,1235,30,1265,1506

In [6]:
display(data_27.iloc[11:12]) #ubah input datanya sesuai variable diatas

,No,Kabupaten/Kota,suspek follow up,suspek discarded,suspek total,probable follow up,probable sembuh,probable meninggal,probable total,konfirmasi dirawat,konfirmasi sembuh,konfirmasi meninggal,konfirmasi total,akumulasi
11,12,Kabupaten Pangkajene Dan Kepulauan,55,185,240,0,0,2,2,3,1232,30,1265,1506

In [7]:
data_covid_pangkep = data_29.iloc[11:12].sum().iloc[2:14] -  data_27.iloc[11:12].sum().iloc[2:14]
data_covid_pangkep

suspek follow up         0
suspek discarded         0
suspek total             0
probable follow up       0
probable sembuh          0
probable meninggal       0
probable total           0
konfirmasi dirawat      -3
konfirmasi sembuh        3
konfirmasi meninggal     0
konfirmasi total         0
akumulasi                0
dtype: object

In [8]:
df_covid_pangkep = data_covid_pangkep.to_frame()

In [9]:
T_data = data_29.iloc[11:12].T
T_data = T_data.drop(axis=0, index=["No","Kabupaten/Kota"])
T_data= T_data.rename(columns = {10:'Jumlah'})
T_data.style.set_caption("Data Pantauan COVID-19 di Kabupaten Pangkajene Dan Kepulauan")

In [10]:
df_covid_pangkep = df_covid_pangkep.rename(columns = {0:'Jumlah penambahan'})
df_covid_pangkep
df_covid_pangkep.style.set_caption("Data Pantauan COVID-19 di Kabupaten Pangkajene Dan Kepulauan")

In [11]:
#data_17.sum()

In [12]:
data_29.sum()

No                                                                    378
Kabupaten/Kota          Kota MakassarKabupaten GowaKabupaten Luwu Timu...
suspek follow up                                                     1021
suspek discarded                                                    10318
suspek total                                                        11339
probable follow up                                                      0
probable sembuh                                                        15
probable meninggal                                                    222
probable total                                                        237
konfirmasi dirawat                                                    280
konfirmasi sembuh                                                   60252
konfirmasi meninggal                                                  932
konfirmasi total                                                    61464
akumulasi                                                           73012
dtype: object

In [13]:
#data_16.sum().iloc[9:13]

In [14]:
#data_24.sum().iloc[9:13]

In [15]:
tambah_kasus_aktif = data_29.sum().iloc[2:14] - data_27.sum().iloc[2:14]
tambah_kasus_aktif

suspek follow up          0
suspek discarded          0
suspek total              0
probable follow up        0
probable sembuh           0
probable meninggal        0
probable total            0
konfirmasi dirawat      -44
konfirmasi sembuh        88
konfirmasi meninggal      1
konfirmasi total         45
akumulasi                45
dtype: object

In [16]:
df_covid_sulsel = tambah_kasus_aktif.to_frame()

In [17]:
df_covid_sulsel = df_covid_sulsel.rename(columns = {0:'Jumlah penambahan'})
df_covid_sulsel
df_covid_sulsel.style.set_caption("Data Pantauan COVID-19 di Provinsi Sulawesi Selatan")